.wp-block-glassine-testimonials {
    .testimonial-swiper-editor {
        padding: 40px 0;
        
        .swiper-slide {
            height: auto;
            display: flex;
            justify-content: center;
        }
    }

    .testimonial-slider {
		&__item--editable {
			background: rgba(255, 255, 255, 0.05);
			border: 1px dashed #ccc;
			border-radius: 20px;
			padding: 40px;
			position: relative;
			width: 100%;
			max-width: 600px;
			margin: 0 auto;
		}
		&__image-container {
			position: relative;

			&:not(:has(img)) {
				.components-button {
					color: transparent;
					background: rgb(0, 124, 186);
					width: 100%;
					height: 100%;

					&:hover,
					&:active,
					&:focus {
						background: rgb(0, 124, 186);
						color: transparent;
					}
				}
				&::before,
				&::after {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					width: 2px;
					height: 30%;
					background-color: #fff;
					border-radius: 2px;
				}
		
				&::before {
					transform: translate(-50%, -50%) rotate(90deg);
				}
		
				&::after {
					transform: translate(-50%, -50%);
				}
			}
		}
	}

    .add-testimonial-btn {
        margin-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
	
	// Fix for dnd-kit inside Swiper
	.swiper-slide-active {
		z-index: 2;
	}

	.swiper-button-next {
		
	}
	.swiper-button-prev {

	}

	.swiper-button-next:after,
	.swiper-button-prev:after {
		display: none;
	}
	
    > .testimonial-slider__btn,
    .testimonial-slider > .swiper-button-next,
    .testimonial-slider > .swiper-button-prev {
        display: none !important;
    }
	.testimonial-swiper-editor {
		.swiper-button-next,
		.swiper-button-prev {
			color: var(--accent-color);
			top: 50%; 
			z-index: 10;
		}
	}
}
